.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background: linear-gradient(243.18deg, #FFCC7E 0%, #EBB4FE 50.52%, #75CCFF 99.99%, #75CCFF 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Poppins', sans-serif;
  color: white;
}

h1 {
  color:black;
}