.city-card-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    margin: 0 15px;
}

.city-card-name {
    font-size: 24px;
    margin: 0;
}

.city-card-image {
    width: 155px;
    height: 135px;
    margin: 15px;
}

.city-card-total {
    font-weight: bold;
    background: #FFE896;
    padding: 20px 2px;
    width: 120px;
    border-radius: 100px;
}

.city-card-rating {
    margin-top: 10px;
}

a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
    color: inherit;
}

a:active {
    text-decoration: none;
    color: inherit;
}