.city-page-container {
    background: white;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    width: 900px;
    align-items: center;
    padding: 20px 20px 30px 20px;
}

.city-page-title {
    margin: 0 0 20px 0;
}

.city-page-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    justify-content: space-between;
    width: 790px;
}

.city-page-image {
    width: 350px;
    height: 270px;
    margin: 0;
}

.city-page-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #C2E9FF;
    border-radius: 20px;
    padding: 10px 20px;
}

.criteria-and-numbers {
    display: flex;
    flex-direction: row;
}

.criteria {
    text-align: left;
}

.numbers {
    font-weight: bold;
    margin-left: 5px;
}

.city-page-total-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    font-size: 24px;
    margin: 5px;
}

.city-page-total {
    font-weight: bold;
    background: #FFE896;
    padding: 10px 2px;
    width: 120px;
    border-radius: 100px;
}

.user-review-container {
    background-color: #FFC8DC;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 760px;
    margin: 30px 0px;
    padding: 20px 15px;
}

.user-review-title {
    margin: 0;
    padding: 0;
    position: relative;
    top: -7px;
    left: 20px;
}

.new-answer-form {
    background-color: #FFEBA3;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    padding: 15px;
    width: 760px;
}

.form-content {
    margin-left: 5px;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
}

.form-content-top {
    margin-bottom: 10px;
    position: relative;
    left: -2px;
}

.username-input {
    font-size: 18px;
    border: none;
    border-radius: 10px;
    margin: 0 23px 0 22px;
    width: 330px;
    height: 25px;
    padding: 2px 10px;
}
.username-input:focus {
    outline: none;
}

.content-input {
    font-family: "Poppins", sans-serif;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    vertical-align: top;
    width: 475px;
    height: 72px;
    margin-left: 15px;
    padding: 2px 10px;
}
.content-input:focus {
    outline: none;
}

.rating-input {
    border: none;
    border-radius: 10px;
    height: 25px;
    font-size: 18px;
    margin-left: 10px;
    width: 50px;
    align-items: center;
    text-align-last: center;
}
.rating-input:focus {
    outline: none;
}

.submit-button {
    border: none;
    font-family: "Poppins", sans-serif;
    border-radius: 20px;
    background-color: #FFC8DC;
    padding: 0;
    height: 39px;
    width: 96px;
    align-self: center;
    margin-left: 10px;
    font-size: 18px;
}