#root {
  width: 100%;
}

.App {
  text-align: center;
  background: linear-gradient(243.18deg, #FFCC7E 0%, #EBB4FE 50.52%, #75CCFF 99.99%, #75CCFF 100%);
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  font-family: 'Poppins', sans-serif;
  color: black;
  font-size: 24px;
}

.App-logo {
  height: 168px;
  width: 224px;
  pointer-events: none;
}

.main-body {
  padding-top: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 36px;
  margin: 30px;
}

.search-bar {
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  width: 600px;
  display: flex;
  flex-direction: row;
  box-shadow: 0 8px 5px -2px gray;
}

.search-bar-text {
  width: 520px;
  margin: 0 10px;
  font-size: 24px;
  border: none;
}
.search-bar-text:focus {
  outline: none;
}

.top-cities {
  margin: 30px;
}

h2 {
  font-size: 24px;
  width: 100%;
  text-align: left;
  position: relative;
  left: 30px;
}

.city-card-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}
