.navbar {
    width: 100%;
    height: 5rem;
    text-align: center;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    position: fixed;
    top: 0;
    background:white;
    min-width: 50%;
    font-weight: 800;
    box-shadow: 0 6px 7px -5px gray;
    z-index: 1;
  }

.title {
    font-size: 24px;
    margin: 0.5625rem;
    font-style: normal;
    font-weight: bold;
}

.subtitle {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color:black;

    display: flex;
    align-items: center;
    text-align: center;
}

.logo {
    width: 6.15rem;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 3.5rem;
}

.outline {
    border: 2px #C0C0C0 solid;
    box-shadow: none;
    border-radius: 20px;
    width: 450px;
    height: 50px;
    padding: 0 10px;
    align-items: center;
    margin-right: 20px;
}

.small-font {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
}

.small-search-button {
    width: 33px;
    height: 33px;
}