.review-container {
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    width: 710px;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 18px;
}

.review-head {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.review-rating {
    width: 145px;
    height: 24px;
}

.review-content {
    margin-top: 5px;
}